.individualFavoritas {
  background-color: #f0f0f0; 
  border-radius: 10px; 
  width: 170px; /* Largeur du composant */
  height: 240px; /* Largeur du composant */
  padding: 20px; 
  text-align: center; 
  margin: 10px; 
}

.individualFavoritas__logo {
  display: flex;
  position: relative;
}

.individualFavoritas__circle {
  width: 112px; /* Largeur du cercle */
  height: 112px; /* Hauteur du cercle */
  border-radius: 50%; 
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
}

.individualFavoritas__circle img {
  width: 45%; 
}

.individualFavoritas__numberSquare {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #4caf50; 
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white; 
}
