.Fondas__container {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 270px;
}

.Fondas__ratingContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    width: 92px;
    background-color: #EB8E78;
    border-radius: 12px;
    margin: 20px 0px 0px 20px
    /* padding: 8px; */
}

.rating-star {
    height: 27px;
    width: 29px;
}

.Fondas__img {
    border-radius: 12px 12px 0px 0px;
}

.Fondas__infosContainer {
    background-color: #F7F7F7;
    border-radius: 0px 0px 12px 12px ;
} 

.Fondas__title {
    display: flex;
    justify-self: start;
    margin-left: 24px;
}

.Fondas__infosContainer__duration-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.Fondas__type, .Fondas__duration {
    margin: 0;
}