.card__menus{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #F7F7F7;
    text-align: left;
    width: 47%;
    margin: 1rem 0.4rem 0;
    height: 208px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.card__menus_details{
    padding: 2rem;
    width: 100%;
}

.card__menus_include{
    font-size: 16px;
    font-weight: 400;
}

p.card__menus_include{
    margin: 0.2rem;
}

.card__menus_review{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #EB8E78;
    border-radius: 10px;
    width: 92px;
    height: 48px;
    top: 1rem;
    left: 1rem;
}

.card__menus_details-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}