.titles__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.titles__greenTag{
    background-color: #5EAE53; /*  */
    color: #FFF; /*  */
    font-size: 16px; /*  */
    font-weight: 400;
    line-height: 32px; 
    border-radius: 8px;
    width: 122px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles__title{
    color: #333; /*  */
    font-size: 56px; /*  */
    font-weight: 700;
    line-height: 64px; 
}

.titles__subtext{
    color: rgba(51, 51, 51, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
}