@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Work+Sans:wght@100;400;700&display=swap');

#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3{
  margin: 0;
}

.main__categories__container{
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}

.allFavoritas__container{
  display: flex;
}

.CategoryFondas {
  display: flex;
  gap: 24px;
}

.menus__box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}